In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
# import first data set
pd.set_option('max_colwidth', 200)
Population_df = pd.read_csv("Population_data.csv")

In [4]:
Population_df.head()

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,19542982,19688632,21000256,22645130,23553551,24411191,25442944,25903301,26427199,27385307,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",SP.POP.TOTL,Albania,ALB,3089027,3060173,3051010,3039616,3026939,3011487,2992547,2970017,2947314,2927519,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",SP.POP.TOTL,Algeria,DZA,30774621,31200985,31624696,32055883,32510186,32956690,33435080,33983827,34569592,35196037,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,58230,58324,58177,57941,57626,57254,56837,56383,55891,55366,54849,54310,53691,52995,52217,51368
4,"Population, total",SP.POP.TOTL,Andorra,AND,66097,67820,70849,73907,76933,79826,80221,78168,76055,73852,71519,70567,71013,71367,71621,71746

In [12]:
print(Population_df.columns)

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [46]:
# REMOVING UNNECESSARY COLUMNS
clean_pop_df = Population_df[['Series Name', 'Country Code', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]']].copy()

clean_pop_df.head()

,Series Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,"Population, total",AFG,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",ALB,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",DZA,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",ASM,54849,54310,53691,52995,52217,51368
4,"Population, total",AND,71519,70567,71013,71367,71621,71746

In [47]:
# Rename columns
renamed_pop_df = clean_pop_df.rename(columns={'2010 [YR2010]': '2010', '2011 [YR2011]': '2011',
       '2012 [YR2012]': '2012', '2013 [YR2013]': '2013', '2014 [YR2014]': '2014', '2015 [YR2015]': '2015'})
renamed_pop_df.head()

,Series Name,Country Code,2010,2011,2012,2013,2014,2015
0,"Population, total",AFG,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",ALB,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",DZA,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",ASM,54849,54310,53691,52995,52217,51368
4,"Population, total",AND,71519,70567,71013,71367,71621,71746

In [25]:
# import second data set
pd.set_option('max_colwidth', 200)
gdp_df = pd.read_excel('API_NY.GDP.MKTP.CD_DS2_en_excel_v2_4770502.xls', header=3)

In [26]:
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,...,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12,9.274845e+11,1.080712e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11,6.905454e+11,6.837480e+11,7.663597e+11,7.947191e+11,7.847997e+11,8.401873e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10

In [27]:
gdp_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [44]:
# Remove unnecessary columns
clean_gdp_df = gdp_df[['Country Name', 'Country Code', 'Indicator Name','2010', '2011', '2012', '2013', '2014', '2015']].copy()

clean_gdp_df.head()

,Country Name,Country Code,Indicator Name,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),8.603324e+11,9.641807e+11,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11
2,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10
3,Africa Western and Central,AFW,GDP (current US$),5.971293e+11,6.804560e+11,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11
4,Angola,AGO,GDP (current US$),8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10

In [41]:
clean_gdp_df = clean_gdp_df.rename(columns={'Indicator Name': 'Indicator'})
clean_gdp_df

,Country Name,Country Code,Indicator,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),8.603324e+11,9.641807e+11,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11
2,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10
3,Africa Western and Central,AFW,GDP (current US$),5.971293e+11,6.804560e+11,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11
4,Angola,AGO,GDP (current US$),8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10
...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),5.344014e+09,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09
262,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10
263,South Africa,ZAF,GDP (current US$),4.173651e+11,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [52]:
# Merge dataframes on country code
gdp_pop_df = pd.merge(clean_gdp_df, renamed_pop_df, on= 'Country Code', how= 'right')
gdp_pop_df.head(20)

,Country Name,Country Code,Indicator Name,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,Series Name,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y
0,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,"Population, total",28189672,29249157,30466479,31541209,32716210,33753499
1,Albania,ALB,GDP (current US$),1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,"Population, total",2913021,2905195,2900401,2895092,2889104,2880703
2,Algeria,DZA,GDP (current US$),1.612073e+11,2.000131e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,"Population, total",35856344,36543541,37260563,38000626,38760168,39543154
3,American Samoa,ASM,GDP (current US$),5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,"Population, total",54849,54310,53691,52995,52217,51368
4,Andorra,AND,GDP (current US$),3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,"Population, total",71519,70567,71013,71367,71621,71746
5,Angola,AGO,GDP (current US$),8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10,"Population, total",23364185,24259111,25188292,26147002,27128337,28127721
6,Antigua and Barbuda,ATG,GDP (current US$),1.148700e+09,1.137637e+09,1.199948e+09,1.181448e+09,1.249733e+09,1.336693e+09,"Population, total",85695,86729,87674,88497,89236,89941
7,Argentina,ARG,GDP (current US$),4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,"Population, total",40788453,41261490,41733271,42202935,42669500,43131966
8,Armenia,ARM,GDP (current US$),9.260285e+09,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.055334e+10,"Population, total",2946293,2928976,2914421,2901385,2889930,2878595
9,Aruba,ABW,GDP (current US$),2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,"Population, total",100341,101288,102112,102880,103594,104257
10,Australia,AUS,GDP (current US$),1.148610e+12,1.398406e+12,1.546892e+12,1.576380e+12,1.467545e+12,1.350616e+12,"Population, total",22031750,22340024,22733465,23128129,23475686,23815995
11,Austria,AUT,GDP (current US$),3.922751e+11,4.316852e+11,4.094018e+11,4.301910e+11,4.425848e+11,3.819711e+11,"Population, total",8363404,8391643,8429991,8479823,8546356,8642699
12,Azerbaijan,AZE,GDP (current US$),5.290929e+10,6.595163e+10,6.968394e+10,7.416444e+10,7.524429e+10,5.307437e+10,"Population, total",9054332,9173082,9295784,9416801,9535079,9649341
13,"Bahamas, The",BHS,GDP (current US$),1.009576e+10,1.007045e+10,1.072050e+10,1.056280e+10,1.117610e+10,1.186190e+10,"Population, total",373272,377950,382061,385650,389131,392697
14,Bahrain,BHR,GDP (current US$),2.571327e+10,2.877660e+10,3.074931e+10,3.253947e+10,3.338771e+10,3.105064e+10,"Population, total",1213645,1212077,1224939,1261673,1311134,1362142
15,Bangladesh,BGD,GDP (current US$),1.152791e+11,1.286379e+11,1.333557e+11,1.499905e+11,1.728855e+11,1.950787e+11,"Population, total",148391139,150211005,152090649,154030139,155961299,157830000
16,Barbados,BRB,GDP (current US$),4.529928e+09,4.657699e+09,4.610096e+09,4.677248e+09,4.696344e+09,4.724691e+09,"Population, total",274711,275486,276197,276865,277493,278083
17,Belarus,BLR,GDP (current US$),5.722249e+10,6.175779e+10,6.568510e+10,7.552798e+10,7.881384e+10,5.645473e+10,"Population, total",9483836,9461643,9446836,9443211,9448515,9461076
18,Belgium,BEL,GDP (current US$),4.814209e+11,5.233304e+11,4.961529e+11,5.217910e+11,5.353902e+11,4.623356e+11,"Population, total",10895586,11038264,11106932,11159407,11209057,11274196
19,Belize,BLZ,GDP (current US$),1.738500e+09,1.819500e+09,1.903000e+09,2.029500e+09,2.138000e+09,2.210500e+09,"Population, total",322106,329538,337059,344688,352335,359871

In [42]:
clean_gdp_df[['Indicator','Currency']] = clean_gdp_df.Indicator.str.split(expand=True)
clean_gdp_df

ValueError: Columns must be same length as key