In [78]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [79]:
# import first data set
pd.set_option('max_colwidth', 200)
Pop_df = pd.read_csv("Population_data.csv")

In [80]:
# Sanity check to make sure CSV loaded
Pop_df.head()

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,19542982,19688632,21000256,22645130,23553551,24411191,25442944,25903301,26427199,27385307,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",SP.POP.TOTL,Albania,ALB,3089027,3060173,3051010,3039616,3026939,3011487,2992547,2970017,2947314,2927519,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",SP.POP.TOTL,Algeria,DZA,30774621,31200985,31624696,32055883,32510186,32956690,33435080,33983827,34569592,35196037,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,58230,58324,58177,57941,57626,57254,56837,56383,55891,55366,54849,54310,53691,52995,52217,51368
4,"Population, total",SP.POP.TOTL,Andorra,AND,66097,67820,70849,73907,76933,79826,80221,78168,76055,73852,71519,70567,71013,71367,71621,71746

In [87]:
# Filter data by population total 
population_total = Pop_df.loc[(Pop_df['Series Code'] == 'SP.POP.TOTL')]
population_total

,Series Name,Series Code,Country Name,Country Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,19542982,19688632,21000256,22645130,23553551,24411191,25442944,25903301,26427199,27385307,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",SP.POP.TOTL,Albania,ALB,3089027,3060173,3051010,3039616,3026939,3011487,2992547,2970017,2947314,2927519,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",SP.POP.TOTL,Algeria,DZA,30774621,31200985,31624696,32055883,32510186,32956690,33435080,33983827,34569592,35196037,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,58230,58324,58177,57941,57626,57254,56837,56383,55891,55366,54849,54310,53691,52995,52217,51368
4,"Population, total",SP.POP.TOTL,Andorra,AND,66097,67820,70849,73907,76933,79826,80221,78168,76055,73852,71519,70567,71013,71367,71621,71746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,"Population, total",SP.POP.TOTL,Virgin Islands (U.S.),VIR,108642,108549,108509,108505,108466,108453,108369,108337,108397,108404,108357,108290,108188,108041,107882,107712
213,"Population, total",SP.POP.TOTL,West Bank and Gaza,PSE,2922153,2997784,3075373,3154969,3236626,3320396,3406334,3494496,3591977,3689099,3786161,3882986,3979998,4076708,4173398,4270092
214,"Population, total",SP.POP.TOTL,"Yemen, Rep.",YEM,18628700,19143457,19660653,20188799,20733406,21320671,21966298,22641538,23329004,24029589,24743946,25475610,26223391,26984002,27753304,28516545
215,"Population, total",SP.POP.TOTL,Zambia,ZMB,9891136,10191964,10508294,10837973,11188040,11564870,11971567,12402073,12852966,13318087,13792086,14265814,14744658,15234976,15737793,16248230
216,"Population, total",SP.POP.TOTL,Zimbabwe,ZWE,11834676,11910978,11984644,12075828,12160881,12224753,12330490,12450568,12550347,12679810,12839771,13025785,13265331,13555422,13855753,14154937

In [88]:
# Selecting target columns
clean_pop_df = population_total[['Series Name', 'Country Code', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]']].copy()

clean_pop_df.head()

,Series Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015]
0,"Population, total",AFG,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",ALB,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",DZA,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",ASM,54849,54310,53691,52995,52217,51368
4,"Population, total",AND,71519,70567,71013,71367,71621,71746

In [91]:
# Rename columns
renamed_pop_df = clean_pop_df.rename(columns={'2010 [YR2010]': '2010', '2011 [YR2011]': '2011',
       '2012 [YR2012]': '2012', '2013 [YR2013]': '2013', '2014 [YR2014]': '2014', '2015 [YR2015]': '2015'})
renamed_pop_df.head()

,Series Name,Country Code,2010,2011,2012,2013,2014,2015
0,"Population, total",AFG,28189672,29249157,30466479,31541209,32716210,33753499
1,"Population, total",ALB,2913021,2905195,2900401,2895092,2889104,2880703
2,"Population, total",DZA,35856344,36543541,37260563,38000626,38760168,39543154
3,"Population, total",ASM,54849,54310,53691,52995,52217,51368
4,"Population, total",AND,71519,70567,71013,71367,71621,71746

In [92]:
# import second data set
pd.set_option('max_colwidth', 200)
gdp_df = pd.read_excel('API_NY.GDP.MKTP.CD_DS2_en_excel_v2_4770502.xls', header=3)

In [93]:
# Sanity check to make sure XLS loaded
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,...,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12,9.274845e+11,1.080712e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11,6.905454e+11,6.837480e+11,7.663597e+11,7.947191e+11,7.847997e+11,8.401873e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10

In [94]:
# Identify columns
gdp_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [95]:
# Selecting target columns
clean_gdp_df = gdp_df[['Country Name', 'Country Code', 'Indicator Name','2010', '2011', '2012', '2013', '2014', '2015']].copy()

clean_gdp_df.head()

,Country Name,Country Code,Indicator Name,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),8.603324e+11,9.641807e+11,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11
2,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10
3,Africa Western and Central,AFW,GDP (current US$),5.971293e+11,6.804560e+11,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11
4,Angola,AGO,GDP (current US$),8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10

In [96]:
# Renaming indicator column
clean_gdp_df = clean_gdp_df.rename(columns={'Indicator Name': 'Indicator'})
clean_gdp_df

,Country Name,Country Code,Indicator,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,AFE,GDP (current US$),8.603324e+11,9.641807e+11,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11
2,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10
3,Africa Western and Central,AFW,GDP (current US$),5.971293e+11,6.804560e+11,7.360399e+11,8.322169e+11,8.924979e+11,7.669580e+11
4,Angola,AGO,GDP (current US$),8.169953e+10,1.094366e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721930e+10
...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),5.344014e+09,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09
262,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10
263,South Africa,ZAF,GDP (current US$),4.173651e+11,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [97]:
# Identifying columns
clean_gdp_df.columns

Index(['Country Name', 'Country Code', 'Indicator', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')

In [99]:
# Merge dataframes on country code
gdp_pop_df = pd.merge(clean_gdp_df, renamed_pop_df, on= 'Country Code', how= 'right')
gdp_pop_df

,Country Name,Country Code,Indicator,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,Series Name,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y
0,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,"Population, total",28189672,29249157,30466479,31541209,32716210,33753499
1,Albania,ALB,GDP (current US$),1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,"Population, total",2913021,2905195,2900401,2895092,2889104,2880703
2,Algeria,DZA,GDP (current US$),1.612073e+11,2.000131e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,"Population, total",35856344,36543541,37260563,38000626,38760168,39543154
3,American Samoa,ASM,GDP (current US$),5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,"Population, total",54849,54310,53691,52995,52217,51368
4,Andorra,AND,GDP (current US$),3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,"Population, total",71519,70567,71013,71367,71621,71746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,GDP (current US$),4.324000e+09,4.223000e+09,4.089000e+09,3.738000e+09,3.565000e+09,3.663000e+09,"Population, total",108357,108290,108188,108041,107882,107712
213,West Bank and Gaza,PSE,GDP (current US$),9.681500e+09,1.118610e+10,1.220840e+10,1.351550e+10,1.398970e+10,1.397240e+10,"Population, total",3786161,3882986,3979998,4076708,4173398,4270092
214,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,"Population, total",24743946,25475610,26223391,26984002,27753304,28516545
215,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,"Population, total",13792086,14265814,14744658,15234976,15737793,16248230
216,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,"Population, total",12839771,13025785,13265331,13555422,13855753,14154937

In [100]:
# Identify columns
gdp_pop_df.columns

Index(['Country Name', 'Country Code', 'Indicator', '2010_x', '2011_x',
       '2012_x', '2013_x', '2014_x', '2015_x', 'Series Name', '2010_y',
       '2011_y', '2012_y', '2013_y', '2014_y', '2015_y'],
      dtype='object')

In [108]:
# Renaming columns
rename_gdp_pop_df = gdp_pop_df.rename(columns={'Country Name': 'Country','Indicator Name': 'Indicator', '2010_x': 'GDP_2010', '2011_x': 'GDP_2011',
       '2012_x': ' GDP_2012', '2013_x': 'GDP_2013', '2014_x': 'GDP_2014', '2015_x': 'GDP_2015', '2010_y': 'POP_2010',
       '2011_y': 'POP_2011', '2012_y': 'POP_2012', '2013_y': 'POP_2013', '2014_y': 'POP_2014', '2015_y': 'POP_2015'})

In [109]:
# Print database
rename_gdp_pop_df

,Country,Country Code,Indicator,GDP_2010,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,Series Name,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015
0,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,"Population, total",28189672,29249157,30466479,31541209,32716210,33753499
1,Albania,ALB,GDP (current US$),1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,"Population, total",2913021,2905195,2900401,2895092,2889104,2880703
2,Algeria,DZA,GDP (current US$),1.612073e+11,2.000131e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,"Population, total",35856344,36543541,37260563,38000626,38760168,39543154
3,American Samoa,ASM,GDP (current US$),5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,"Population, total",54849,54310,53691,52995,52217,51368
4,Andorra,AND,GDP (current US$),3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,"Population, total",71519,70567,71013,71367,71621,71746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,GDP (current US$),4.324000e+09,4.223000e+09,4.089000e+09,3.738000e+09,3.565000e+09,3.663000e+09,"Population, total",108357,108290,108188,108041,107882,107712
213,West Bank and Gaza,PSE,GDP (current US$),9.681500e+09,1.118610e+10,1.220840e+10,1.351550e+10,1.398970e+10,1.397240e+10,"Population, total",3786161,3882986,3979998,4076708,4173398,4270092
214,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,"Population, total",24743946,25475610,26223391,26984002,27753304,28516545
215,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,"Population, total",13792086,14265814,14744658,15234976,15737793,16248230
216,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,"Population, total",12839771,13025785,13265331,13555422,13855753,14154937

In [110]:
# Drop N/A from rows and columns
rename_gdp_pop_df.dropna()
rename_gdp_pop_df

,Country,Country Code,Indicator,GDP_2010,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,Series Name,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015
0,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,"Population, total",28189672,29249157,30466479,31541209,32716210,33753499
1,Albania,ALB,GDP (current US$),1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,"Population, total",2913021,2905195,2900401,2895092,2889104,2880703
2,Algeria,DZA,GDP (current US$),1.612073e+11,2.000131e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,"Population, total",35856344,36543541,37260563,38000626,38760168,39543154
3,American Samoa,ASM,GDP (current US$),5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,"Population, total",54849,54310,53691,52995,52217,51368
4,Andorra,AND,GDP (current US$),3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,"Population, total",71519,70567,71013,71367,71621,71746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,GDP (current US$),4.324000e+09,4.223000e+09,4.089000e+09,3.738000e+09,3.565000e+09,3.663000e+09,"Population, total",108357,108290,108188,108041,107882,107712
213,West Bank and Gaza,PSE,GDP (current US$),9.681500e+09,1.118610e+10,1.220840e+10,1.351550e+10,1.398970e+10,1.397240e+10,"Population, total",3786161,3882986,3979998,4076708,4173398,4270092
214,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,"Population, total",24743946,25475610,26223391,26984002,27753304,28516545
215,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,"Population, total",13792086,14265814,14744658,15234976,15737793,16248230
216,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,"Population, total",12839771,13025785,13265331,13555422,13855753,14154937

In [111]:
# Final dataset
rename_gdp_pop_df

,Country,Country Code,Indicator,GDP_2010,GDP_2011,GDP_2012,GDP_2013,GDP_2014,GDP_2015,Series Name,POP_2010,POP_2011,POP_2012,POP_2013,POP_2014,POP_2015
0,Afghanistan,AFG,GDP (current US$),1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,"Population, total",28189672,29249157,30466479,31541209,32716210,33753499
1,Albania,ALB,GDP (current US$),1.192692e+10,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,"Population, total",2913021,2905195,2900401,2895092,2889104,2880703
2,Algeria,DZA,GDP (current US$),1.612073e+11,2.000131e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,"Population, total",35856344,36543541,37260563,38000626,38760168,39543154
3,American Samoa,ASM,GDP (current US$),5.730000e+08,5.700000e+08,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,"Population, total",54849,54310,53691,52995,52217,51368
4,Andorra,AND,GDP (current US$),3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,"Population, total",71519,70567,71013,71367,71621,71746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,GDP (current US$),4.324000e+09,4.223000e+09,4.089000e+09,3.738000e+09,3.565000e+09,3.663000e+09,"Population, total",108357,108290,108188,108041,107882,107712
213,West Bank and Gaza,PSE,GDP (current US$),9.681500e+09,1.118610e+10,1.220840e+10,1.351550e+10,1.398970e+10,1.397240e+10,"Population, total",3786161,3882986,3979998,4076708,4173398,4270092
214,"Yemen, Rep.",YEM,GDP (current US$),3.090675e+10,3.272642e+10,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,"Population, total",24743946,25475610,26223391,26984002,27753304,28516545
215,Zambia,ZMB,GDP (current US$),2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,"Population, total",13792086,14265814,14744658,15234976,15737793,16248230
216,Zimbabwe,ZWE,GDP (current US$),1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,"Population, total",12839771,13025785,13265331,13555422,13855753,14154937

In [107]:
# Export to csv
rename_gdp_pop_df.to_csv('GDP_Population_Data_By_Country.csv')